
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Blog Application</title>
  <link rel="stylesheet" media="screen" href="/css/com.css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">



</head>

<body class="container">
<div class="ab" align="right">
  <a class="btn btn-primary" aria-current="page"  th:href="@{/logout}">Logout</a>
</div>
<img width="340px" th:src="@{images/bbgg.jpg}" align="right" />

<h1 class="py-5" align="center">Reviews Application</h1>

<a th:href="@{/createPost}" class="btn btn-primary">Add a Review</a>


</body>
</html>